@import '../../../styles/colors';
@import '../../../styles/breakpoints';


.error{
    width: 100%;
    height: 50px;
    max-width: 400px;
    display: flex;
    justify-content: flex-start;
    line-height: 3.2;
    padding-left: 15px;
    color: white;
    font-family: 'Roboto';
    margin: 0 auto;
    margin-top: 50px;
    display: none;
    opacity: 0;
    background-color: red;


    p{
        display: inline;
        font-size: 17px;
    }

    i{
        font-size: 30px;
        margin-right: 10px;
        cursor: pointer;
    }
}











.navForm{
    font-family: 'Roboto';
   position: absolute;
   margin-top: 70px;
   top: 50%;
   left: 50%;
   width: 30vw;
   max-width: 500px;
   padding: 30px ;
   background-color: transparent ;
   box-shadow: 0px 0px 3px 5px rgb(235, 233, 233);
   transform: translate(-50%,-50%);
   display: flex;
   flex-direction: column;
   justify-content: space-between;



   @include breakpointmax(1200px) {
    padding: 10px;
    width: 40vw;
    height: 60vh;
   }


   @include breakpointmax(480px) {
    width: 80vw;
   }




   input, button{
    height: 40px;
   }

}


.navForm input {
    outline: none;
    padding: 0 10px;
    font-size: 15px;
}


.navForm button {
    border: none;
    font-size: 20px;
    color: $base-white-color;
    background: $base-rosa-color;


    &:hover {
        cursor:pointer;
    }
}


.navForm p {
    text-align: center;


    a {
       color: $base-rosa-color;
    }
}