@import '../../../styles/breakpoints';


.product-list-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    



    .product-list{
        @include sm {
            grid-template-columns: repeat(2,1fr);   
        }
        @include breakpoint(1000px) {
            grid-template-rows: repeat(5,1fr);
            grid-template-columns: repeat(3,1fr);   
            }
        @include breakpoint(1550px) {
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: repeat(4,1fr);
        }

        
       
        display: grid;
        justify-content: center;
        gap: 5px;
        
        
    }
}